.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 20px;
  padding: 2%;
}

.productStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(250, 247, 247);
  border-radius: 5%;
  padding: 5%;
  position: relative; /* Añade posición relativa */
}

.title {
  margin-bottom: 15%;
}

.image {
  margin-bottom: 25px;
}
.bottomCard {
  display: flex;
  width: 100%;

  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.price {
  margin-top: 15px; /* Ajusta según tus necesidades */
  margin-right: 50px;
}

.counter {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.addClick {
  background-color: transparent;
  border: none;
  margin-right: 50px;
}

.removeClick {
  background-color: transparent;
  border: none;
}

.buttonBuy {
  margin-top: 10px;
  margin: 10px;
  background-color: rgb(250, 247, 247);
  height: 30px;
  width: 100px;
  border: 2px solid gray;
  border-radius: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
